.podium {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url(../images/podium/podium-bg.jpg) no-repeat center;
    background-size: cover;
    transition: all 1s ease;


    &::after,
    &::before {
        content: '';
        position: absolute;
        top: -100%;
        width: 50%;
        height: 100%;
        z-index: 1;
        background: url(../images/podium/photoroom.png) no-repeat center;
        transition: all 2s ease;
    }

    &::before {
        left: var(--before-left, 0);
    }

    &::after {
        right: var(--after-right, 0);
        ;
    }

    &__content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & p {
            text-transform: lowercase;
            @include fluid-text(88, 22);
            @include gradient;
            background-image: linear-gradient(to bottom, #FAFF00, #33FF00, #177400);
        }

        & h3 {
            margin: 0;
            @include fluid-text(157, 36);
            color: #ffffff;
            filter: drop-shadow(0px 10px 13px rgba(70, 0, 81, 1));
        }

        & img {
            margin-top: 120px;

            @include monitor {
                margin-top: 80px;
                max-width: 400px;
            }

            @include tablet {
                margin-top: 40px;
                max-width: 300px;
            }
        }
    }

    &__curtain {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background: url(../images/podium/gobilen.png) no-repeat center;
        background-size: cover;
        z-index: 2;
    }

    &__sofits {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;


        &::after,
        &::before {
            content: '';
            position: absolute;
            top: -30%;
            width: 100%;
            height: 100%;
            background: url(../images/podium/Star.png) no-repeat center;
            background-size: contain;
            transition: all 2s ease;

            animation: rotateDecor 10s ease-in-out infinite;
        }

        &::before {
            left: -40%;
        }

        &::after {
            right: -40%;
        }
    }

    &__light {
        position: absolute;
        left: 0;
        top: -20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        column-gap: 150px;

        @include monitor {
            column-gap: 60px;
        }

        @include desktop {
            column-gap: 40px;
        }

        @include tablet {
            column-gap: 0px;
        }

        & img {
            max-height: 90%;
            transform-origin: top tops;
            animation: lightAnimation 3s ease-in-out infinite;
        }

        &--left {
            animation-duration: 6s !important;
        }

        &--middle {
            margin-top: -50px;
            animation-duration: 4s !important;
        }

        &--right {
            animation-duration: 6s !important;
        }
    }
}